
@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&display=swap');
:root{
    --color-white: #fff;
    --color-dark1: #272727; 
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-white);
    background-image: url(../img/Backgound-login.png);
    height: 100vh;
    width: 100vw;
    background-repeat: repeat-y;
    background-size: cover;

}

.img_logo_header{
    height: 30px;
}

.btn{
    color: rgb(84, 84, 228);
    border-color: rgb(84, 84, 228);
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    font-family: "Anek Kannada", sans-serif;
    color: white;
    margin: 2vh 40vw;
    font-size: 4rem;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.img-commu{
    height: 150px;
    width: 250px;
    border: 3px solid white;
    border-radius: 20px;
    
}

.image-commu-first{
    width: 50vw;
    height: 60vh;
    border-radius: 15px;
    border: 3px solid white;    
}

.touch{
    cursor: pointer;
}

.touch2:hover{
    z-index: 1;
    transform: scale(1.1);
}

.content-second{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-left: 30px;
    box-sizing: content-box;

    flex-direction: column;
    position: relative;
}

.menu{
    display: none;
}


#botao-responsive{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}

@media (max-width:1130px){
    #botao-responsive{
        display: none;
    }
    .person_info{
        display: none;
    }
    .menu{
        padding: 2px;
        background-color: rgb(178, 178, 178);
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        cursor: pointer;
        margin-left: -3rem;
    }
    .menu:hover{
        transform: scale(1.1);
        transition: 1s;
    }
    section{
        display: flex;
        flex-direction: column;
        transition: 1.3s;

    }
  
    .image-commu {
        width: 50%;
        height: 10%;
    }

    .image-commu-first{
        
        height: 150px;
        width: 250px;
       margin-bottom: 1rem;
        
    }
    .image-commu-first:hover{
        transform: scale(1.1);
        z-index: 1;
    }

    .content-second,
    .content-first,.image-community{
        width: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
