
@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@100..800&display=swap');
:root{
    --color-white: #fff;
    --color-dark1: #272727; 
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-white);
    background-image: url(../img/Backgound-login.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    background-color: var(--color-white);
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--color-dark1);
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    flex-direction: row;
}

img {
    height: 50px;
}

.pesquisa{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;
    
}

.pesquisa input {
    position: relative;
    width: 35vw;
    height: 30px;
    padding: 1rem;
    border-radius: 12px;
}

.pesquisa i {
    position: absolute;
    margin-right: 10px;
}

.person_info {
    width: 20vw;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.picture {
    font-size: 2.5em;
}

.button {
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* ------------------------------- */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-first{
    
}



main h1{
    font-family: "Anek Kannada", sans-serif;
    color: white;
    margin: 2vh 40vw;
    font-size: 4rem;
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.img-commu{
    height: 150px;
    width: 250px;
    border: 3px solid white;
    border-radius: 20px;
    
}

.image-commu-first{
    width: 50vw;
    height: 60vh;
    border-radius: 15px;
    border: 3px solid white;    
}

.touch{
    cursor: pointer;
}

.touch2:hover{
    z-index: 1;
    transform: scale(1.1);
}

.content-second{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-left: 30px;

    flex-direction: column;
    position: relative;
}
