:root{
    --color-white: #fff;
    --color-dark1: #272727; 
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.btn{
    color: rgb(84, 84, 228);
    border-color: rgb(84, 84, 228);
}


body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-white);
    background-image: url(../img/Background-web.png);
    height: 100vh;
    width: 100vw;
    background-repeat: repeat-y;
    background-size: cover;
    overflow: hidden;

}

.img_logo_header{
    height: 33px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    color: black;

}

.secao-products {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.secao-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.secao-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 4 - 60px);
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #efefef;
    transition: all 0.5s ease;
    gap: 0.5rem;
}

.secao-card:hover {
    transform: scale(1.1);
    z-index: 1;
}

.comprar{
    width: 10vw;
    height: 40px;
    background-color: rgb(59, 59, 255);
    color: #efefef;
    border-radius: 15px;
    cursor: pointer;
}

.secao-card img {
    width: 35%;
    height: auto;
}

.secao-card h3 {
    margin-bottom: 0px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    body{
        overflow-y: visible;
    }
    .secao-card {
        width: calc(100% / 2 - 60px);
        
        
    }
    .comprar{
        width: 20vw;
    }
}
@media (max-width: 560px) {
    body{
        overflow-y: visible;
    }
    .secao-card {
        width: 50%;
        
        
    }
    .comprar{
        width: 20vw;
    }
}

/* .product-card__cover .product-img img {
    position: absolute;
    border-radius: 5px 5px 0 0;
}
.product-card .product-img img {
    width: 100%;
    height: auto;
}
.product-img img {
    display: block;
}
img {
    max-width: 100%;
}

#img_gift {
    display: flex;
    width: 100%;
    height: 70%;
    margin-top: 100px;
    border-radius: 10px;
}

.product-img {
        background-color: #f1f1f1;
        width: 200px;
        height: 200px;
        margin-left: 50px;
        font-size: 6.5px;
        align-items: center;
}

.product-img button  {
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    width: 20vh;
    height: 3vh;
    margin-top: 10px;
    margin-left: 4px;
}

.product-img h1 {
    color: black;
} */
