:root{
    --primary-color: #504699;
    --dark-primary: #13005D;
    --light-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    font-family: sans-serif;
    background-image: url(../img/Backgound-login.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

main{
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 650px;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    gap: 1.5rem;
    padding: 2rem;
    border-radius: 2rem;
}

.text-main {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--dark-primary);
    font-size: 12px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 1rem;
}

form > label {
    width: 350px;
    font-weight: bold;
}

form > input {
    border: 2px #000 solid;
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    width: 300px;
}

#register{
    background-color: var(--primary-color);
    color: var(--light-color);
    border: 0;
    cursor: pointer;
    padding: 1rem 2rem;
    transition: all 0.5s;
}

#register:hover{
    background-color: var(--dark-primary);
}